{% load widget_tweaks %}

<form action="{% url 'cluster_create' %}" method="post">
	{% csrf_token %}


	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
			<div class="modal fade" id="modal-cluster-create" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">

								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									×
								</button>
								<h4 class="modal-title" id="myModalLabel">
									{% if cluster.slug %}Edit {{ cluster.name }}
									{% else %}Add a Cluster{% endif %}
								</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										{% render_field clusterform.name placeholder="Name" %}<br />

										{% render_field clusterform.tagline placeholder="Tagline" %}<br />

										{% if cluster.slug%}{{cluster.slug}}{%else%}
										{% render_field clusterform.slug placeholder="Hashtag" %}{% endif %}<br /><br />

										{% render_field clusterform.description placeholder="Description" class+="form-description" %}<br />



									</div>

								</div>
								<div class="modal-footer">

									<button type="button" class="btn btn-default" data-dismiss="modal">
										Close
									</button> 
									<input type="submit" value="Save" class="btn btn-primary"/>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>
		</div>
	</form>
