{% load widget_tweaks %}

<h1>
{% if assumption.slug %}Edit {{ assumption.name }}
{% else %}Add an Assumption{% endif %}
</h1>

<form action="{% url 'assumption_create' %}" method="post">
{% csrf_token %}

{% render_field assumptionform.name placeholder="Name" %}<br />
{% render_field assumptionform.tagline placeholder="Tagline" %}<br />
{% if assumption.slug%}{{assumption.slug}}{%else%}
{% render_field assumptionform.slug placeholder="Hashtag" %}{% endif %}<br /><br />

<b>Assumption for Stakeholders</b><br />
{% render_field assumptionform.stakeholders %}<br /><br />

<b>Assumption for Entities</b><br />
{% render_field assumptionform.entitys %}<br /><br />

<b>Add to Clusters</b><br />
{% render_field assumptionform.clusters %}<br /><br />

{% render_field assumptionform.description placeholder="Description" %}<br />
Proven: {% render_field assumptionform.proven %}<br />
<br />


<input type="submit" value="Save"/>
</form>
