<div class="section-grey animated slideInLeft">

	<div class="container">
		<div class="row">
			
				<b class=" caps-title">Stakeholder Maps</b><br /><br />

				<div class="row">
					{% for stakeholder_map in stakeholder_maps %}
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="stakeholder animated slideInRight">
							<a href="{% url 'stakeholder_map_read' stakeholder_map_slug=stakeholder_map.slug %}"><b>{{ stakeholder_map.name }}</b></a><br />
							/stakeholder_map/{{ stakeholder_map.slug }}<br />
							{% if stakeholder_map.tagline %}{{ stakeholder.description}}<br />{% endif %}
						</div>
					</div>
					{% endfor %}

					<a href="#modal-stakeholder-map-create" role="button" class="btn" data-toggle="modal"><b>Create Stakeholder Map</b></a>
					<br /><br />
			
			</div>
		</div>
	</div>
</div>

{% include 'stakeholder_map/kit/create.html' %}